[Unit]
Description=Water Notifications Telegram Bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/bots/water-notifications-bot
Environment="PATH=/root/bots/water-notifications-bot/venv/bin"
ExecStart=/root/bots/water-notifications-bot/venv/bin/python3 bot.py

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
